@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1.8;
  word-wrap: break-word;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*------------------------------------------------------------
	Block Editor
-------------------------------------------------------------*/
body,
.editor-styles-wrapper {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  /* リフトマーカーを表示しない */
  /* リスト */
  /* カラムブロックのスタイリング */
}
body h1,
.editor-styles-wrapper h1 {
  font-size: clamp(2rem, 2rem + 0vw, 2rem);
}
body p,
.editor-styles-wrapper p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin-bottom: 3em;
}
body strong,
.editor-styles-wrapper strong {
  font-weight: 700;
  letter-spacing: 0.05em;
}
body ul,
.editor-styles-wrapper ul {
  font-size: 16px;
  letter-spacing: 0.05em;
}
body table,
.editor-styles-wrapper table {
  font-size: 14px;
  letter-spacing: 0.05em;
}
body ul,
.editor-styles-wrapper ul {
  list-style: none;
}
body .wp-block-heading,
.editor-styles-wrapper .wp-block-heading {
  font-weight: 700;
  letter-spacing: 0.05em !important;
  margin-bottom: 1em;
  line-height: 1.5;
}
body .wp-block-image,
.editor-styles-wrapper .wp-block-image {
  margin: 4rem auto;
}
body .wp-block-separator,
.editor-styles-wrapper .wp-block-separator {
  border-top: 1px solid #e6e6e6;
  margin: 4rem auto;
}
body .wp-block-spacer,
.editor-styles-wrapper .wp-block-spacer {
  width: 100%;
}
body .wp-block-image,
.editor-styles-wrapper .wp-block-image {
  text-align: center;
}
body .wp-block-image img,
.editor-styles-wrapper .wp-block-image img {
  max-width: 100%;
  height: auto;
}
body .wp-block-list,
.editor-styles-wrapper .wp-block-list {
  margin: 1rem auto;
  padding-left: 20px;
}
body .wp-block-list ul,
.editor-styles-wrapper .wp-block-list ul {
  list-style-type: disc;
}
body .wp-block-list ol,
.editor-styles-wrapper .wp-block-list ol {
  list-style-type: decimal;
}
body .wp-block-list li,
.editor-styles-wrapper .wp-block-list li {
  margin: 0.5rem auto;
}
body .wp-block-embed,
.editor-styles-wrapper .wp-block-embed {
  max-width: 100%;
}
body .has-background,
.editor-styles-wrapper .has-background {
  padding: 2rem;
  border-radius: 16px;
}
body .has-text-align-center,
.editor-styles-wrapper .has-text-align-center {
  width: 100%;
}

@media (min-width: 1200px) {
  .p-page {
    padding-left: 20vw;
  }
}

/*------------------------------------------------------------
	Custom Text Color & Background Color
    ※fnc/admin-control.phpへの設定も必要
-------------------------------------------------------------*/
.has-color-white-color {
  color: #ffffff !important;
}

.has-color-main-color {
  color: #b4df76 !important;
}

.has-color-accent-color {
  color: #3CA64D !important;
}

.has-color-bace-primary-color {
  color: #FFF9E3 !important;
}

.has-color-text-color {
  color: #151515 !important;
}

.has-color-textColor_01-color {
  color: #377641 !important;
}

.has-color-textColor_02-color {
  color: #73533F !important;
}

.has-color-gray-color {
  color: #A1A1A1 !important;
}

.has-color-cta-color {
  color: #fcac33 !important;
}

.has-color-white-background-color {
  background-color: #ffffff !important;
}

.has-color-main-background-color {
  background-color: #b4df76 !important;
}

.has-color-accent-background-color {
  background-color: #3CA64D !important;
}

.has-color-bace-primary-background-color {
  background-color: #FFF9E3 !important;
}

.has-color-text-background-color {
  background-color: #151515 !important;
}

.has-color-textColor_01-background-color {
  background-color: #377641 !important;
}

.has-color-textColor_02-background-color {
  background-color: #73533F !important;
}

.has-color-gray-background-color {
  background-color: #A1A1A1 !important;
}

.has-color-cta-background-color {
  background-color: #fcac33 !important;
}

.has-small-font-size {
  font-size: 13.5px !important;
}

.has-regular-font-size {
  font-size: 16px !important;
}

.has-large-font-size {
  font-size: 24px !important;
}

.has-wlarge-font-size {
  font-size: 36px !important;
}

.is-focus-mode .block-editor-block-list__block:not(.has-child-selected) {
  opacity: 1;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100vw;
  height: 80px;
  transition: all 0.5s ease-out;
  background-color: #fff;
}
.sp .l-header {
  background-color: #fff;
}
.l-header__inner {
  align-items: center;
  height: 100%;
}
.l-header h1 {
  max-width: 140px;
}
.l-header__logo-link {
  display: block;
}
.l-drawer {
  position: fixed;
  opacity: 0;
}

.l-site-footer {
  margin-top: 4em;
}
.l-site-footer__link {
  padding: 48px 0 48px 7vw;
  font-size: 1rem;
}
@media (min-width: 1200px) {
  .l-site-footer__link {
    padding-left: 45vw;
  }
}
.l-site-footer__link ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 16px 0 0 16px;
  background-color: #393535;
  padding: 2em 2em;
}
@media (min-width: 1200px) {
  .l-site-footer__link ul {
    justify-content: flex-start;
    -moz-column-gap: 5em;
         column-gap: 5em;
    padding: 2em 14em 2em 5em;
  }
}
.l-site-footer__link ul li a {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  position: relative;
  display: inline-block;
  color: #000000;
  width: 100%;
  text-wrap: nowrap;
  padding: 1em 1.5em;
  border-radius: 12px;
  background-color: #fff;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .l-site-footer__link ul li a {
    padding: 1em 4em;
  }
}
.l-site-footer__link ul li a::after {
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  filter: brightness(0) saturate(100%) invert(82%) sepia(12%) saturate(1428%) hue-rotate(40deg) brightness(103%) contrast(86%);
  width: 2.5em;
  aspect-ratio: 1;
  content: "";
}
@media (min-width: 768px) {
  .l-site-footer__link ul li a::after {
    right: 4em;
  }
}
.l-site-footer__upside {
  aspect-ratio: 1.35;
  overflow: hidden;
}
@media (min-width: 768px) {
  .l-site-footer__upside {
    aspect-ratio: 1.35;
  }
}
@media (min-width: 1200px) {
  .l-site-footer__upside {
    aspect-ratio: 3.2;
  }
}
.l-site-footer__bg-upside {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-site-footer__downside {
  background-size: cover;
  padding: 48px 2vw;
  font-size: 1em;
}
@media (min-width: 1200px) {
  .l-site-footer__downside {
    padding-left: 24vw;
  }
}
.l-site-footer-profile {
  margin-bottom: 32px;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.l-site-footer-profile__name {
  font-size: 2em;
  line-height: 1.8;
  padding: 1.2em 0;
}
.l-site-footer-profile__tel, .l-site-footer-profile__cel, .l-site-footer-profile__mail, .l-site-footer-profile__blog-url {
  font-size: clamp(14px, 1.4em, 16px);
  word-break: break-all;
  padding: 0.2em 0;
}
.l-site-footer__fig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  aspect-ratio: 2/1;
  border-radius: 8px;
  overflow: hidden;
}
.l-site-footer__fig img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-site-footer__site-image {
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-site-footer__note {
  border-radius: 8px;
  border: 1.5px solid #fff;
  color: #fff;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  padding: 16px;
}
.l-site-footer__menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
@media (min-width: 1200px) {
  .l-site-footer__menu {
    flex-direction: row;
    gap: 32px;
    margin-top: 8em;
  }
}
.l-site-footer__menu a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: clamp(12px, 1.2em, 16px);
}
@media (min-width: 1200px) {
  .l-site-footer__menu a:nth-child(1)::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .l-site-footer__menu a::before {
    display: inline-block;
    width: 1px;
    height: 80%;
    background-color: #fff;
    content: "";
    margin-right: 2em;
  }
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-col {
  display: flex;
  flex-direction: column;
}

.l-row {
  display: flex;
  flex-direction: row;
}

.l-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .l-md-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.l-shrink {
  flex-shrink: 1;
}

.item-md-5 {
  width: 25%;
}
.item-md-5:nth-of-type(4) {
  margin-left: 18.75%;
}
.item-md-5:nth-of-type(5) {
  margin-right: 18.75%;
}

.item {
  height: 180px;
  background-color: saddlebrown;
}

.bs-item {
  height: 100px;
  background-color: firebrick;
}

.l-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.l-center {
  display: block;
  margin: 0 auto;
}

.l-container {
  margin: 0 auto;
  max-width: 86%;
}
@media (min-width: 768px) {
  .l-container {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .l-container {
    max-width: 1200px;
  }
}

.c-button {
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  text-wrap: nowrap;
  transition: all 0.4s;
}
.c-button::before, .c-button::after {
  transition: all 0.4s;
}
.l-header__ham-menu {
  position: relative;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  counter-increment: item;
}

.l-header__trigger,
.l-header__trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.l-header__trigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.l-header__trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #C74366;
  border-radius: 4px;
}

.l-header__trigger span:nth-of-type(1) {
  top: 0;
}

.l-header__trigger span:nth-of-type(2) {
  top: 20px;
}

.l-header__trigger span:nth-of-type(3) {
  bottom: 0;
}

.l-header__trigger.is-active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.l-header__trigger.is-active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: is-active-bar02 0.8s forwards;
}

@keyframes is-active-bar02 {
  100% {
    height: 0;
  }
}
.l-header__trigger.is-active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

.p-home-section {
  height: 1200px;
}
.p-home-hero {
  background-color: gold;
}
.p-home-1 {
  background-color: saddlebrown;
}
.p-home-2 {
  background-color: blueviolet;
}
.p-home-3 {
  background-color: palegoldenrod;
}
.p-home-4 {
  background-color: darkcyan;
}
.p-home-5 {
  background-color: rebeccapurple;
}

.u-mt0 {
  margin-top: 0px;
}

.u-mt5 {
  margin-top: 5px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mr0 {
  margin-right: 0;
}

.u-mr5 {
  margin-right: 5px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mr15 {
  margin-right: 15px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mt0 {
  margin-left: 0;
}

.u-ml5 {
  margin-left: 5px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-ml15 {
  margin-left: 15px;
}

.u-ml20 {
  margin-left: 20px;
}/*# sourceMappingURL=common.css.map */