@use '../../foundation/setting' as s;

.c-button {
	@include s.font-bace-r;
	font-weight: 700;
	text-wrap: nowrap;
	transition: all .4s;

	&::before,
	&::after {
		transition: all .4s;
	}

	&__inner {}
}