@use '../../foundation/setting' as s;


// hamberger menu

.l-header__ham-menu {
	position: relative;
	width: auto;
	text-align: center;
	box-sizing: border-box;
	counter-increment: item;
}

.l-header__trigger,
.l-header__trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.l-header__trigger {
	position: relative;
	width: 50px;
	height: 44px;
	background: none;
	border: none;
	appearance: none;
	cursor: pointer;
}

.l-header__trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: s.$color-accent;
	border-radius: 4px;
}

.l-header__trigger span:nth-of-type(1) {
	top: 0;
}

.l-header__trigger span:nth-of-type(2) {
	top: 20px;
}

.l-header__trigger span:nth-of-type(3) {
	bottom: 0;
}

.l-header__trigger.is-active span:nth-of-type(1) {
	transform: translateY(20px) rotate(-45deg);
}

.l-header__trigger.is-active span:nth-of-type(2) {
	left: 50%;
	opacity: 0;
	animation: is-active-bar02 .8s forwards;
}

@keyframes is-active-bar02 {
	100% {
		height: 0;
	}
}

.l-header__trigger.is-active span:nth-of-type(3) {
	transform: translateY(-20px) rotate(45deg);
}